<html>
	<head>
		 <script src="https://cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser-arcade-physics.min.js"></script> 
		 <script src="/socket.io/socket.io.js"></script>
		 <link rel="stylesheet" href="style.css">
	</head>
		
	<body>

		<script type="text/javascript" src="meca_game.js"></script>
		<script type="text/javascript" src="pilote_game.js"></script>
		<script type="text/javascript" src="ennemi.js"></script>
		<script type="text/javascript" src="tir.js"></script>
		<script type="text/javascript" src="stats.js"></script>

		<div class="buttons" id="buttons">
			<button onclick="button_pilote()">Pilote</button>
			<button onclick="button_meca()">Mécanicien</button>
		</div>

		<script>

			function button_pilote(){
				game = new Phaser.Game(config_pilote);
				document.getElementById("buttons").style.display = "none";
				socket.emit('role', 'pilote');
			}

			function button_meca(){
				game = new Phaser.Game(config_meca);
				document.getElementById("buttons").style.display = "none";
				socket.emit('role', 'meca');
			}

			const config_pilote = {
				type: Phaser.AUTO,
				width: 1600,
				height:1200,
				scale: {
					mode: Phaser.Scale.FIT,
					autoCenter: Phaser.Scale.CENTER_BOTH   			
    			},
				physics: {
        			default: 'arcade'
		    	},
				scene: {
					preload: pilote_preload,
					create: pilote_create,
					update: pilote_update
				}
			};

			const config_meca = {
				type: Phaser.AUTO,
				width: 1600,
				height:1200,

				scale: {
					mode: Phaser.Scale.FIT,
					autoCenter: Phaser.Scale.CENTER_BOTH   			
				},
				physics: {
					default: 'arcade'
				},
				scene: {
					preload: meca_preload,
					create: meca_create,
					update: meca_update
				}
			};


			let game;
			let firstPlayer = false;
			document.oncontextmenu = new Function("return false");
			
			// Connexion socket.io
//            let socket = io.connect('http://192.168.10.3:8080');
			let socket = io.connect('http://127.0.0.1:8080');
						
					
			document.oncontextmenu = new Function("return false");			
		
			socket.emit('newPlayer');
						
				
			// Sockets						
			
			socket.on('message', function(msg) {
				 $('#chat').append("<p>" + msg + "</p>");			
			});
									
			socket.on('jeu', function () {
				console.log('jeu');
				socket.emit('askId');
			});

			socket.on('sendId', function(id) {
				console.log("id joueur : " + id);
				if (id % 2 == 1) // Il s'agit du premier joueur. Celui-ci va choisir le rôle
				{
					firstPlayer = true;
					document.getElementById("buttons").style.display = "inline";
				}
				else
				{
					// Celui-ci va attendre le choix de l'autre.
				}
			});

			socket.on('role', function(role) {
				console.log("role envoyé par le premier joueur : " + role);
				console.log("Premier joueur : " + firstPlayer);
				if (firstPlayer == true) {
					// Rôle déjà choisi.
					return;
				}
				if (role == "pilote"){
					game = new Phaser.Game(config_meca);
				}
				else {
					game = new Phaser.Game(config_pilote);
				}

			});


			// Sockets de jeu
			socket.on("power",  function(powerValue) {
				pilote.onPowerChanged(powerValue);
			});
				
			// Sockets de jeu
			socket.on("weapon",  function(weaponValue) {
				console.log(weaponValue);
				pilote.onWeaponChanged(weaponValue);
			});	
			
			// Sockets de jeu
			socket.on("shield",  function(shieldValue) {
				pilote.onShieldChanged(shieldValue);
			});			

        </script>
    </body>
</html>