<html>
	<head>
		 <% include partials/head %>	
	</head>
	
	<body>
		<!-- Barre de navigation en haut -->	
		<div class="container-fluid">
			<nav class="navbar navbar-inverse navbar-fixed-top">
			  <div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="#">Aquabattle</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
				  <ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				  </ul>
				</div><!--/.nav-collapse -->
			  </div>
			</nav>	
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9">	 
					<canvas id="canvas" width=160 height=100> </canvas>
				</div>
				<div class="col-md-3 hidden-xs">
					<div class="chat" id="chat">Test</div>
				</div>
			</div>
		</div>	 	 

		<script>
			
			
			// type de boucle d'animation.
			this.requestAnimFrame = (function(){ return window.requestAnimationFrame
			 || window.webkitRequestAnimationFrame
			 || window.mozRequestAnimationFrame
			 || window.oRequestAnimationFrame
			 || window.msRequestAnimationFrame
			 || null})();
			
			
			
			// Code
						
			document.oncontextmenu = new Function("return false");
			
			// Connexion socket.io
//            var socket = io.connect('http://192.168.10.3:8080');
			var socket = io.connect('http://127.0.0.1:8080');
			var canvas = document.getElementById('canvas');
			var textArea = document.getElementById('chat');
			var divGame = document.getElementById('div_game');
			var ctx = canvas.getContext("2d");
			//var canvasBG = document.getElementById('canvasBG');
			//var ctxBG = canvasBG.getContext("2d");
			
			var listVaisseaux = [];					
			var tirs = [];
			var idJoueur;
			var time;
			var sourisX = 0;
			var sourisY = 0;
			var select = -1;
			var vaisseau = new Image();			
			var leftUp = true;
			var rightUp = true;
			var timeDetectionEnnemi = new Date().getTime();
						
			document.oncontextmenu = new Function("return false");			
			
			var vaisseauJoueur = new Image();

			console.log(canvas.height);	
			canvas.height = canvas.clientHeight;
			canvas.width = canvas.clientWidth;
			console.log(canvas.height);	
		
			socket.emit('newPlayer');
						
			//fonctions
									
			function Tir(x,y,t,p) 
			{

			}

			function distance(x1,y1,x2,y2)
			{
				return Math.sqrt((x2-x1)*(x2-x1) + (y2-y1)*(y2-y1));
			}
			
			function initialiser()
			{
				socket.emit('init');
				vaisseauJoueur.src = 'Core/Pictures/vaisseau.png';				

				vaisseauJoueur.onload = function() 
				{
				
				}
			}
			
			function renderingLoop()
			{				
				var ratio = canvas.height/100; // Le ratio des éléments à placer selon la taille du jeu.
			
				// 
				var time = new Date().getTime();
				ctx.clearRect(0, 0, canvas.width, canvas.height);
				

				var gradient = ctx.createLinearGradient(0,0,0,canvas.height);
				gradient.addColorStop(0,"#00BBFF");
				gradient.addColorStop(1,"#0022FF");	
				ctx.fillStyle = gradient;
				ctx.fillRect(0,0,canvas.width, canvas.height);		
							
				// dessiner 
				
					// dessiner le cercle de portee.
				ctx.beginPath();
/*					ctx.arc();
					ctx.fillStyle = "rgba(0, 200, 0, 0.2)";
					ctx.fill();
*/
//					ctx.drawImage(sousMarinVert, (listBateaux[i].x() - 2) * ratio, (listBateaux[i].y() - 2) * ratio, 4*ratio, 4*ratio);
				
				
				if(this.requestAnimFrame)
					this.requestAnimFrame.call(window,this.renderingLoop.bind(this));		
			}

			function getOffset(e) {
				var cx = 0;
				var cy = 0;
			 
				while(e && !isNaN(e.offsetLeft) && !isNaN(e.offsetTop)) {
					cx += e.offsetLeft - e.scrollLeft;
					cy += e.offsetTop - e.scrollTop;
					e = e.offsetParent;
				}
				return { top: cy, left: cx };
			}
			
			
			// Evenement souris
			
            // mouvement souris
			canvas.addEventListener("mousemove", function(e)
			{
			
				if(e.offsetX || e.offsetY) {
					sourisX = e.pageX - getOffset(document.getElementById('canvas')).left - window.pageXOffset;
					sourisY = e.pageY - getOffset(document.getElementById('canvas')).top - window.pageYOffset;
				}
				else if(e.layerX || e.layerY) {
					sourisX = (e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft) - getOffset(document.getElementById('canvas')).left - window.pageXOffset;
					sourisY = (e.clientY + document.body.scrollTop + document.documentElement.scrollTop) - getOffset(document.getElementById('canvas')).top;
				}  					
			});
			

			
			// clic souris
			canvas.addEventListener("mousedown", function(e)
			{
				var ratio = canvas.height/100; // Le ratio des éléments à placer selon la taille du jeu.

				if (e.which == 1 && leftUp) // bouton gauche
				{
					leftUp = false;
					// Soit on selectionne un bateau, soit on tire.
				}
			});		
			
			canvas.addEventListener("mouseup", function(e)
			{
				if (e.which == 1)
				{
					leftUp = true;
				}

		
				if (e.which == 3)
				{
					rightUp = true;
				}
			});
						
			// Sockets						
			socket.on('infosPartie', function(num) {
				console.log('infos');
				idJoueur = num;				
			});			
			
			socket.on('message', function(msg) {
				 $('#chat').append("<p>" + msg + "</p>");			
			});
			
			socket.on('vaisseau', function(id,px,py,pspeed,prange,ppuissance) {
				console.log('vaisseau');
//				listVaisseau.push(new Bateau(id,px,py,idJoueur,pspeed,prange,ppuissance));
			});
						
			socket.on('jeu', function () {
				console.log('jeu');
				initialiser();
				renderingLoop();
			});
			
			socket.on('tir', function (x,y,p) {	
				console.log('tir');
				tirs.push(new Tir(x,y,0,p));			
			});
			
        </script>
    </body>
</html>