<html>
	<head>
		 <script src="https://cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser-arcade-physics.min.js"></script> 
		 <script src="/socket.io/socket.io.js"></script>
		 <link rel="stylesheet" href="style.css">
	</head>
		
	<body>

		<script type="text/javascript" src="tir.js"></script>
		<script type="text/javascript" src="failure.js"></script>
		<script type="text/javascript" src="menuSelectRole_game.js"></script>
		<script type="text/javascript" src="bonus.js"></script>
		<script type="text/javascript" src="meca_game.js"></script>
		<script type="text/javascript" src="pilote_game.js"></script>
		<script type="text/javascript" src="gameOver_game.js"></script>
		<script type="text/javascript" src="ennemi.js"></script>
		<script type="text/javascript" src="stats.js"></script>

		<script>

			const config = {
				type: Phaser.AUTO,
				width: 1600,
				height:900,
				scale: {
					mode: Phaser.Scale.FIT,
					autoCenter: Phaser.Scale.CENTER_BOTH   			
    			},
				physics: {
        			default: 'arcade'
		    	},
				scene: [MenuSelectRole
				, Pilote
				, Meca
				, GameOver]
			};
					
			let game;
			document.oncontextmenu = new Function("return false");

			// Connexion socket.io
			var socket = io.connect('http://127.0.0.1:8080');
//			let socket = io.connect('http://192.168.1.110:8080');
						
			socket.emit('newPlayer');
				
			// Sockets
			
			socket.on('message', function(msg) {
				 $('#chat').append("<p>" + msg + "</p>");			
			});
									
			socket.on('jeu', function () {
				game = new Phaser.Game(config);
				setTimeout(askId, 1000);				
			});

			function askId()
			{
				socket.emit('askId');
			}

        </script>
    </body>
</html>