body {
	min-height: 100%;
}

textarea.form-control {
	height: 100%;
}

div.chat {
	background-color : rgb(230,255,255);
	height:100%;
}

div.buttons {
	display: none;
}

canvas {
	width: 100%;
	height:auto;
}


